<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
  <link rel="stylesheet" type="text/css" href="style-2.css" media="screen" />
  <link rel="shortcut icon" href="favicon.png" type="image">
  <title>SUICIDE OR DIE - Manifesto</title>
  <script src="./addons/p5.min.js"></script>
  <script src="./addons/p5.sound.min.js"></script>
  <script src="sketch_manifesto.js"></script>
</head>

<body class="myBackground">
  <div class="container">
    <div class="header" id="header_id">
      <div id="logo"><a class="link" href="home.html">SU!C!DE OR D!E</a></div>

      <div class="menu" id="menu">
        <div class="elements" id="manifesto"><a class="link" href="manifesto.html" type="text/html">THE MANIFESTO</a></div>
        <div class="elements" id="protest"><a class="link" href="protest.html" type="text/html">THE PROTEST</a></div>
        <div class="elements" id="blog"><a class="link" href="login.html">THE BOARD</a></div>
      </div>

      <div id="burgermenu" class="burgermenu"><a href="javascript:void(0);" onclick="myFunction()" style="text-decoration: none; color: #ffeb00;">&#9776;</a></div>

      <div class="rect_social">
        <a href="https://www.instagram.com/sod.global/?hl=it" target="_blank"><img id="instagram_logo" src="assets/instagram_logo.png"></a>
        <a href="https://www.youtube.com/channel/UCz7J3drCKnRAi-xuyG4655A" target="_blank"><img id="YT_logo" src="assets/YT_logo.png"></a>
      </div>
    </div>

    <div id="tendina">
      <div class="elements" id="ham-manifesto"><a class="link" href="manifesto.html" type="text/html">THE MANIFESTO</a></div>
      <div class="elements" id="ham-protest"><a class="link" href="protest.html" type="text/html">THE PROTEST</a></div>
      <div class="elements" id="ham-blog"><a class="link" href="login.html">THE BOARD</a></div>
    </div>

  <div class="main">
    <div class="introbox">
      <div class="largeP">OUR CURRENT LIFESTYLE IS THREATENED BY OVERPOPULATION</div>
      <div class="smallP">Politicians and environmental groups try to deceive us into believing that our lifestyle is wrong and that is destroying the world.
        They impose their austerity policies on us and expect us to accept a life of hardship and compromise.
        All of this is just a lie and the truth is that we are just too many and will continue to grow.</div>
    </div>
    <div class="titleBox">
      <div id="cutout" class="beforeEnlarge">THE SOLUTION</div>
      <div id="hiddenText" class="">
        <div class="smallP-2">There’s no more time to reduce the consumption of resources.
          <br>The only viable solution is to reduce the number of people who doesn’t contribute anymore
          to the welfare of society.<br><br></div>
        <div class="largeP-2">Our purpose is to promote suicide as the only way to save humanity</div>
      </div>
    </div>
    <div class="titleBox violet">
      <div class="largeP">THE MODEL <BR>OF THE GOOD CITIZEN</div>
      <div class="smallP">Sooner or later everyone will become unproductive, until that day a good citizen should keep in mind four, simple, but very important rules to be efficient and higly productive.</div>
    </div>

    <div class="titleBox">
      <div class="largeP-2">ALWAYS WORK FOR AT LEAST 8 HOURS A DAY</div>
    </div>
    <div style="height:5vh; background-color:#59358c;"></div>
    <div class="titleBox">
      <div class="largeP-2">ALWAYS TAKE CARE OF YOUR HEALTH AND YOUR BODY</div>
    </div>
    <div style="height:5vh; background-color:#59358c;"></div>
    <div class="titleBox">
      <div class="largeP-2">ALWAYS CONTRIBUTE TO THE WELFARE OF SOCIETY</div>
    </div>
    <div style="height:5vh; background-color:#59358c;"></div>
    <div class="titleBox">
      <div class="largeP-2">PROMOTE GENERATIONAL TURNOVER</div>
    </div>

  </div>

  <footer class="footer">
    <div class="terms">© SUICIDE OR DIE 2019 | Privacy policy & Terms of service</div>
  </footer>

  </div>

  <script>
    function myFunction() {
      var x = document.getElementById("tendina");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
    }

    window.addEventListener("resize", function() {
      if (window.innerWidth > 1450) {
        document.getElementById("tendina").style.display = "none";
      }
    })
  </script>
</body>

</html>
