<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0>
  <link rel="stylesheet" type="text/css" href="style-2.css" media="screen" />
  <link rel="shortcut icon" href="favicon.png" type="image">
  <title>SUICIDE OR DIE - The Protest</title>

  <script src="./addons/p5.min.js"></script>
  <script src="./addons/p5.sound.min.js"></script>
</head>

<body class="myBackground">
  <div class="container">
    <div class="header" id="header_id">
      <div id="logo"><a class="link" href="home.html">SU!C!DE OR D!E</a></div>

      <div class="menu">
        <div class="elements" id="manifesto"><a class="link" href="manifesto.html" type="text/html">THE MANIFESTO</a></div>
        <div class="elements" id="protest"><a class="link" href="protest.html" type="text/html">THE PROTEST</a></div>
        <div class="elements" id="blog"><a class="link" href="/blog">BLOG</a></div>
      </div>
      <!-- </nav> -->

      <div class="rect_social">
        <a href="https://www.instagram.com/suicideordieglobal/?hl=it"><img id="instagram_logo" src="assets/instagram_logo.png"></a>
        <img id="YT_logo" src="assets/YT_logo.png">
      </div>
    </div>

    <div class="main">
      <div class="introbox" style="height: 110vh;">
        <div class="giantP">
          JOIN THE PROTEST
        </div>
        <div style="height:50px;"></div>
        <div class="smallP">
          To successfully spread our message our communication needs to be clear, clean and easy to reproduce.
          In order to achieve this, we designed a Protest Workbench with everything you need to set up a manifestation, with posters, boards, brandend t-shirt, banners and more.<br>
          The construnction is easy and in the following page you'll find the instruction and the inventory needed for the project.
        </div>
      </div>

      <div class="violet" style="height: 110vh;">
        <img class="istruzioni" src="/assets/instruzioni sito_1.svg">
      </div>
      <div class="yellow" style="height: 110vh;">
        <img class="istruzioni" src="/assets/instruzioni sito_2.svg">
      </div>
      <div class="violet" style="height: 110vh;">
        <img class="istruzioni" src="/assets/instruzioni sito_3.svg">
        <a href="/assets/Stamps_Letters.pdf" class="download" target="_blank">DOWNLOAD</a>
      </div>
      <div class="yellow" style="height: 110vh;">
        <img class="istruzioni" src="/assets/instruzioni sito_4.svg">
        <a href="/assets/Printing_Grid.pdf" class="download-2" target="_blank">DOWNLOAD</a>
      </div>
      <div class="violet" style="height: 110vh;">
        <img class="istruzioni" src="/assets/instruzioni sito_5.svg">
      </div>
    </div>

    <footer class="footer">
      <div class="terms">© SUICIDE OR DIE 2019 | Privacy policy & Terms of service</div>
    </footer>
  </div>
</body>

</html>
