@font-face {
  font-family: "Trim";
  src: url("./assets/font/TrimPoster-Average.otf");
}

@font-face {
  font-family: "Trim-regular";
  src: url("./assets/font/Trim-Regular.otf");
}

@media only screen and (max-width: 1450px) {
  #menu {
    display: none;
  }

  #tendina {
    order: 2;
    display: block;
  }

  #tendina div {
    display: block;
    width: 100%;
    margin-left: 60px;
    padding-left: 0px;
  }

  .elements {
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }

  #burgermenu {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 60px;
    padding-left: 60px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 2.4em;
    color: #ffeb00;
  }

  .beforeEnlarge {
    font-size: 180px;
    line-height: 144px;
  }

  .title{
    font-size: 120px;
    line-height: 100px;
  }

    #counter{
      font-size: 240px;
      line-height: 200px;
    }


}

@media only screen and (min-width: 1450px) {
  .beforeEnlarge {
    font-size: 240px;
    line-height: 200px;
  }

  .title{
    font-size: 120px;
    line-height: 100px;
  }

    #counter{
      font-size: 240px;
      line-height: 200px;
    }
}

@media only screen and (max-width: 1000px) {
  .beforeEnlarge {
    font-size: 140px;
    line-height: 112px;
  }

  .title{
    font-size: 80px;
    line-height: 64px;
  }

  #counter{
    font-size: 240px;
    line-height: 192px;
  }

}

@media screen and (min-width: 866px) {
  .largeP {
    font-size: 120px;
    line-height: 100px;
  }

  .largeP-2 {
    font-size: 120px;
    line-height: 100px;
  }

  .giantP {
    font-size: 240px;
    line-height: 200px;
  }

  .smallP{
    font-size: 25px;
  }

  .smallP-2{
    font-size: 25px;
  }
}

@media only screen and (max-width: 867px) {
  .largeP {
    font-size: 80px;
    line-height: 66.4px;
  }

  .largeP-2 {
    font-size: 80px;
    line-height: 66.4px;
  }

  .giantP {
    font-size: 180px;
    line-height: 144px;
  }

  .beforeEnlarge {
    font-size: 120px;
    line-height: 96px;
  }

  .smallP{
    font-size: 18px;
  }

  .smallP-2{
    font-size: 18px;
  }

  .title{
    font-size: 80px;
    line-height: 64px;
  }

  #counter{
    font-size: 240px;
    line-height: 192px;
  }

}

@media only screen and (max-width: 660px) {
  .largeP {
    font-size: 60px;
    line-height: 48px;
  }

  .largeP-2 {
    font-size: 60px;
    line-height: 48px;
  }

  .giantP {
    font-size: 140px;
    line-height: 112px;
  }

  .beforeEnlarge {
    font-size: 100px;
    line-height: 80px;
  }

  .title{
    font-size: 80px;
    line-height: 64px;
  }

    #counter{
      font-size: 200px;
      line-height: 160px;
    }
}

/*access page*/
.title {
  font-family: "Trim";
  color: #ffeb00;
  position: relative;
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

/* #p01 {
  top: 133.5px;
  font-size: 1em;
  line-height: 100px;
} */

/* #counter {
  top: 142.5px;
  font-size: 3em;
  line-height: 300px;
} */

/* #p02 {
  top: 151.5px;
  font-size: 1em;
  line-height: 100px;
} */
#accesspage{
  padding-top: 10vh;
  width: 60vw;
  margin:auto;
}

.button {
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 50px;
  color: #59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: 20vw;
  margin-top: 10vh;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 100px;
  width: 180px;
}

.button:hover{
  color: #ffeb00;
  background-color: #59358c;
}

/* --end acess page
start HOMEPAGE*/
body, html {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
}

.myBackground {
  background-color: #59358c;
}

.myBackground-2 {
  background-color: #ffeb00;
}

.teaser {
  position: relative;
  left: 0;
  top: 0px;
  width: 100%;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #59358c;
  z-index: 2;
  align-items: center;
  order: 1;
}

.burgermenu {
  display: none;
}

.main {
  order: 3;
  overflow-y: hidden;
}

#logo {
  font-family: "Trim";
  font-size: 2.35em;
  color: #ffeb00;
  position: relative;
  margin-left: 60px;
  /* padding-left: 30px; */
  z-index: 3;
  white-space: nowrap;
  text-decoration: none;
}

.menu {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-left: 10%;
  z-index: 3;
}

.elements {
  font-family: "Trim";
  /* font-size: 2.35em; */
  /* font-size: 37.6px; */
  font-size: 2.35em;
  color: #ffeb00;
  display: inline;
  padding-right: 71.5px;
  /* text-align: center; */
  text-decoration: none;
  z-index: 3;
  white-space: nowrap;
}

.rect_social {
  position: relative;
  background: #ffeb00;
  display: flex;
  width: 300px;
  height: 100px;
  min-width: 300px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

#instagram_logo {
  z-index: 4;
}

#YT_logo {
  /* position: relative; */
  z-index: 4;
}

#tendina {
  display: none;
  order: 3;
}

.introbox {
  /* position: relative; */
  /* background-color: #59358c; */
  /* height: calc(100vh - 100px); */
  width: 100%;
  margin-top: 160px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#intro {
  font-family: "Trim";
  font-size: 6vw;
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  margin-left: 60px;
  margin-bottom: 160px;
  margin-right: 120px;
  max-width: 1100px;
  min-width: 50px;
  line-height: 5.5vw;
  z-index: 1;
}

.titleBox {
  width: 100%;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 60px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.violet {
  background-color: #59358c;
  padding-top: 120px;
  padding-bottom: 60px;
}

.yellow {
  background-color: #ffeb00;
  padding-top: 120px;
  padding-bottom: 60px;
}

.giantP {
  font-family: "Trim";
  /* font-size: 6vw; */
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.largeP {
  font-family: "Trim";
  /* font-size: 6vw; */
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.smallP {
  font-family: "Trim-regular";
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  padding-top: 20px;
  margin-left: 60px;
  max-width: 60%;
  min-width: 50px;
  /* margin-top: 120px; */
  /* z-index: 1; */
}

#hiddenText {
  margin-top: 1500px;
}

.largeP-2 {
  font-family: "Trim";
  color: #59358c;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.smallP-2 {
  font-family: "Trim-regular";
  color: #59358c;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  padding-top: 20px;
  margin-left: 60px;
  max-width: 60%;
  min-width: 50px;
  /* margin-top: 120px; */
  /* z-index: 1; */
}

.beforeEnlarge {
  font-family: "Trim";
  /* font-size: 240px; */
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  position: absolute;
  left: 0;
  top: 1200px;
  margin-left: 60px;
  min-width: 50px;
  white-space: nowrap;
  /* z-index: 1; */
}

.afterEnlarge {
  font-family: "Trim";
  font-size: 240px;
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  position: fixed;
  top: 28%;
  left: 60px;
  pointer-events: none;
  white-space: nowrap;
}

.hiddenElement {
  visibility: hidden;
}

.photoBox {
  height: 90vh;
  overflow: hidden;
}

.fotoModello {
  width: 100%;
  margin-left: 0px;
}

.istruzioni {
  margin-left: 60px;
  margin-right: 60px;
  max-height: 100vh;
}

.download {
  font-family: "Trim-regular";
  font-size: 25px;
  color: #ffeb00;
  text-align: left;
  text-decoration: underline;
  margin-top: -100px;
  margin-left: 11vw;
}

.download-2 {
  font-family: "Trim-regular";
  font-size: 25px;
  color: #59358c;
  text-align: left;
  text-decoration: underline;
  margin-top: -100px;
  margin-left: 11vw;
}

input[type=text] {
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

input[type=password] {
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

input[type=email] {
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

.buttonLog {
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color: #59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 50px;
  width: 180px;
}

.buttonLog:hover {
  color: #ffeb00;
  background-color: #59358c;
}

.downloadBtn {
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color: #59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: calc(60px + 10vw);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 50px;
  width: 180px;
}

.downloadBtn:hover {
  color: #ffeb00;
  background-color: #59358c;
}

.downloadBtn-2 {
  background-color: #59358c;
  font-family: "Trim";
  font-size: 25px;
  color: #ffeb00;
  cursor: pointer;
  border: 5px solid #59358c;
  margin-left: calc(60px + 10vw);
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 50px;
  width: 180px;
}

.downloadBtn-2:hover {
  color: #59358c;
  background-color: #ffeb00;
}

button[type=submit] {
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color: #59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  height: 50px;
  width: 180px;
}

button[type=submit]:hover {
  color: #ffeb00;
  background-color: #59358c;
}

#logoutBtn {
  width: 15%;
  position: absolute;
  top: 160px;
  right: 2%;
  margin: 0;
  padding: 0;
  max-width: 250px;
}

.smallLink {
  color: #ffeb00;
}

/*Carousel style*/
.carousel {
  padding-top: 200px;
  padding-bottom: 300px;
  background-color: #ffeb00;
}

.box {
  height: 588px;
  background-color: #59358c;
  margin-left: 120px;
}

/*inside the boxes*/
.img_protest1 {
  max-height: 100%;
  max-width: 100%;
}

.info_event {
  font-family: "Trim";
  font-size: 2.35em;
  line-height: 31.2px;
  letter-spacing: 0.6px;
  color: #ffeb00;
  margin-top: 44px;
  margin-left: 44px;
}

.date_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #ffeb00;
  margin-top: 31.4px;
  margin-left: 44px;
  display: inline-block;
}

.date_event #spacing-letter {
  letter-spacing: 0.98px;
  background-color: transparent;
  color: #ffeb00;
}

.time_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #ffeb00;
  margin-top: 31.5px;
  float: right;
  margin-right: 44px;
  display: inline-block;
}

.location_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.4px;
  color: #ffeb00;
  margin-top: 31.4px;
  margin-left: 44px;
  margin-right: 44px;
  float: left;
}

.link {
  text-decoration: none;
  color: #ffeb00;
}

#text {
  resize: none;
  font-family: "Trim-regular";
  font-size: 20px;
  position: fixed;
  margin-left: 0px;
  bottom: 150px;
  width: 60%;
  height: 120px;
  padding: 10px 10px;
  border: 5px solid #ffeb00;
}

#blogbox {
  position: relative;
  overflow-y: hidden;
  /* background-color: #ddd; */
  top: 44px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 360px;
}

#postbutton {
  position: fixed;
  bottom: 50px;
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color: #59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  padding-left: 10px;
  height: 50px;
  width: 180px;
}

#postbutton:hover {
  color: #ffeb00;
  background-color: #59358c;
}

.post {
  font-family: "Trim-regular";
  color: #ffeb00;
  box-sizing: border-box;
  background-color: #59358c;
  border: 5px solid #ffeb00;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.postText {
  box-sizing: border-box;
  width: 100%;
  top: 0;
  word-wrap: break-word;
  font-size: 25px;
}

/* .events_text {
  position: relative;
  font-family: "Trim";
  font-size: 60px;
  letter-spacing : 0.9px;
  color: #59358c;
  top: 100px;
} */
.ec {
  position: relative
}

.ec .ec__holder {
  overflow: hidden;
}

.ec .ec__track {
  will-change: transform
}

.ec .ec__track:after {
  content: '';
  display: table;
  clear: both
}

.ec .ec__item {
  width: 480px;
  float: left;
  overflow: hidden
}

.ec .ec__pagination {
  text-align: center;
  margin-top: 10px
}

.ec .ec__pagination .pagination__dot {
  width: 8px;
  height: 8px;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #000;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer
}

.ec .ec__pagination .pagination__dot--active {
  background-color: #000
}

.ec .ec__nav {
  position: absolute;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.ec .ec__nav:before {
  content: '';
  width: 8px;
  height: 8px;
  border-top: 2px solid #59358c;
  border-right: 2px solid #59358c;
  transform: translate(8px, 8px);
  position: absolute;
}

.ec .ec__nav--prev {
  transform: rotate(-135deg);
  top: 494px;
  left: 3.75em;
  background-color: #ffeb00;
}

.ec .ec__nav--next {
  transform: rotate(45deg);
  top: 494px;
  right: 3.75em;
  background-color: #ffeb00;
}

.footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  margin-top: 0px;
  height: 276px;
  background-color: #59358c;
  z-index: 2;
  order: 4;
}

.terms {
  font-family: "Trim-regular";
  font-size: 12.5px;
  line-height: 30px;
  letter-spacing: 0.38px;
  margin-left: 60px;
  margin-top: 232px;
  color: #ffeb00;
}

/* --end carousel style */
/* start footer */
/* --end homepage */
