@font-face {
  font-family: "Trim";
  src: url("./assets/font/TrimPoster-Average.otf");
}

@font-face {
  font-family: "Trim-regular";
  src: url("./assets/font/Trim-Regular.otf");
}

@media only screen and (max-width: 1450px) {
  #manifesto, #protest, #blog  {
  }

  #menu{
    display: none;
  }

  .elements{
    padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
  }

  #burgermenu{
    display: block;
  }
}

@media screen and (min-width: 866px) {
  .largeP {
    font-size: 120px;
    line-height: 100px;
  }
  .largeP-2{
    font-size: 120px;
    line-height: 100px;
  }
  .giantP{
    font-size:240px;
    line-height:200px;
  }
}

@media only screen and (max-width: 867px) {
  .largeP {
    font-size: 80px;
    line-height: 66.4px;
  }
  .largeP-2 {
    font-size: 80px;
    line-height: 66.4px;
  }
  .giantP{
    font-size:200px;
    line-height:166.66px;
  }
}

/*access page*/
.title {
  font-family: "Trim";
  color: #ffeb00;
  position: relative;
  left: 8.34375rem;
  margin: 0px;
  padding: 0px;
  font-size: 120px;
}

#p01 {
  top: 133.5px;
  font-size: 1em;
  line-height: 100px;
}

#counter {
  top: 142.5px;
  font-size: 3em;
  line-height: 300px;
}

#p02 {
  top: 151.5px;
  font-size: 1em;
  line-height: 100px;
}

.button {
  background: transparent url("./assets/button-join.png");
  background-repeat: no-repeat;
  border: none;
  outline: 0;
  cursor: pointer;
  position: relative;
  padding: 0px;
  left: 270px;
  top: 300px;
  width: 303px;
  height: 151px;
}

/* --end acess page
start HOMEPAGE*/
body, html {
  position: relative;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  overflow-x: hidden;

}

.myBackground {
  background-color: #59358c;
}

.myBackground-2 {
  background-color: #ffeb00;
}

.teaser {
  position: relative;
  left: 0;
  top: 0px;
  width: 100%;
  outline: none;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  background-color: #59358c;
  z-index: 2;
  align-items: center;
  order: 1;
}

.burgermenu{
  display: none;
}

.main {
  order: 2;
}

#logo {
  font-family: "Trim";
  font-size: 2.35em;
  color: #ffeb00;
  position: relative;
  margin-left: 60px;
  /* padding-left: 30px; */
  z-index: 3;
  white-space: nowrap;
  text-decoration: none;
}

.menu {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10%;
  z-index: 3;
  /* top: 50px; */
}

.elements {
  position: sticky;
  position: -webkit-sticky;
  font-family: "Trim";
  /* font-size: 2.35em; */
  /* font-size: 37.6px; */
  font-size: 2.35em;
  color: #ffeb00;
  display: inline;
  padding-right: 71.5px;
  /* text-align: center; */
  text-decoration: none;
  flex-grow: 1;
  z-index: 3;
  white-space: nowrap;
}

.rect_social {
  position: relative;
  background: #ffeb00;
  display: flex;
  width: 300px;
  height: 100px;
  min-width: 300px;
  align-items: center;
  justify-content: space-evenly;
  z-index: 3;
}

#instagram_logo {
  z-index: 4;
}

#YT_logo {
  /* position: relative; */
  z-index: 4;
}

.introbox {
  /* position: relative; */
  /* background-color: #59358c; */
  /* height: calc(100vh - 100px); */
  width: 100%;
  margin-top: 160px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.titleBox {
  width: 100%;
  margin-top: 60px;
  padding-top: 60px;
  margin-bottom: 60px;
  z-index: -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.violet{
  background-color: #59358c;
  padding-top: 120px;
  padding-bottom: 60px;
}

.yellow{
  background-color: #ffeb00;
  padding-top: 120px;
  padding-bottom: 60px;
}

.giantP {
  font-family: "Trim";
  /* font-size: 6vw; */
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.largeP {
  font-family: "Trim";
  /* font-size: 6vw; */
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.smallP {
  font-family: "Trim-regular";
  font-size: 25px;
  color: #ffeb00;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  padding-top: 20px;
  margin-left: 60px;
  max-width: 60%;
  min-width: 50px;
  /* margin-top: 120px; */
  /* z-index: 1; */
}

#hiddenText {
  margin-top: 1500px;
}
.largeP-2 {
  font-family: "Trim";
  color: #59358c;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  /* position: absolute; */
  margin-left: 60px;
  max-width: 1100px;
  min-width: 50px;
  /* z-index: 1; */
}

.smallP-2{
  font-family: "Trim-regular";
  font-size: 25px;
  color: #59358c;
  text-align: left;
  text-decoration: none;
  /* position: absolute; */
  padding-top: 20px;
  margin-left: 60px;
  max-width: 60%;
  min-width: 50px;
  /* margin-top: 120px; */
  /* z-index: 1; */
}

.beforeEnlarge {
  font-family: "Trim";
  font-size: 240px;
  color: #ffeb00;
  text-align: left;
  text-decoration: none;

  position: absolute;
  left: 0;
  top: 1200px;
  margin-left: 60px;
  min-width: 50px;
  /* z-index: 1; */
}

.afterEnlarge {
  font-family: "Trim";
  font-size: 240px;
  color: #ffeb00;
  text-align: left;
  text-decoration: none;

  position: fixed;
  top: 28%;
  left: 60px;
  pointer-events:none;
}

.hiddenElement {
  visibility: hidden;
}

.photoBox{
  height: 90vh;
  overflow:hidden;
}

.fotoModello{
  width: 100%;
  margin-left: 0px;
}

.istruzioni{
  margin-left:60px;
  margin-right:60px;
  max-height: 100vh;
}

.download{
  font-family: "Trim-regular";
  font-size: 25px;
  color: #ffeb00;
  text-align: left;
  text-decoration: underline;
  margin-top:-100px;
  margin-left:11vw;
}

.download-2{
  font-family: "Trim-regular";
  font-size: 25px;
  color: #59358c;
  text-align: left;
  text-decoration: underline;
  margin-top:-100px;
  margin-left:11vw;
}

input[type=text] {
  margin-left: 60px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-left:10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

input[type=password] {
  margin-left: 60px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-left:10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

input[type=email] {
  margin-left: 60px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-left:10px;
  height: 40px;
  border: 5px solid #ffeb00;
  display: inline-block;
  box-sizing: border-box;
}

.buttonLog{
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color:#59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: 60px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-left:10px;
  height: 50px;
  width: 180px;
}

.buttonLog:hover{
  color: #ffeb00;
  background-color:#59358c;
}

button[type=submit]{
  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color:#59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  margin-left: 60px;
  margin-top:10px;
  margin-bottom: 20px;
  padding-left:10px;
  height: 50px;
  width: 180px;
}

button[type=submit]:hover{
  color: #ffeb00;
  background-color:#59358c;
}

.smallLink{
  color: #ffeb00;
}

/*Carousel style*/
.carousel {
  padding-top: 200px;
  padding-bottom: 300px;
  background-color: #ffeb00;
}

.box {
  height: 588px;
  background-color: #59358c;
  margin-left: 120px;
}

/*inside the boxes*/
.img_protest1 {
  max-height: 100%;
  max-width: 100%;
}

.info_event {
  font-family: "Trim";
  font-size: 2.35em;
  line-height: 31.2px;
  letter-spacing: 0.6px;
  color: #ffeb00;
  margin-top: 44px;
  margin-left: 44px;
}

.date_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #ffeb00;
  margin-top: 31.4px;
  margin-left: 44px;
  display: inline-block;
}

.date_event #spacing-letter {
  letter-spacing: 0.98px;
  background-color: transparent;
  color: #ffeb00;
}

.time_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.38px;
  color: #ffeb00;
  margin-top: 31.5px;
  float: right;
  margin-right: 44px;
  display: inline-block;
}

.location_event {
  font-family: "Trim-regular";
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.4px;
  color: #ffeb00;
  margin-top: 31.4px;
  margin-left: 44px;
  margin-right: 44px;
  float: left;
}

.link {
  text-decoration: none;
  color: #ffeb00;
}

#text{
  resize: none;

  font-family: "Trim-regular";
  font-size: 20px;


  position: fixed;
  margin-left: 0px;
  bottom: 150px;
  width:calc(100% - 310px - 310px);
  height: 120px;
  padding: 10px 10px;
  border: 5px solid #ffeb00;
}

#blogbox{
  position:absolute;
  /* background-color: #ddd; */
  top: 145px;
  width:calc(100% - 310px - 310px);
  margin-left:310px;
  margin-right:310px;
  margin-bottom: 360px;
}

#postbutton{
  position: fixed;
  bottom: 50px;

  background-color: #ffeb00;
  font-family: "Trim";
  font-size: 25px;
  color:#59358c;
  cursor: pointer;
  border: 5px solid #ffeb00;
  padding-left:10px;
  height: 50px;
  width: 180px;
}

#postbutton:hover{
  color: #ffeb00;
  background-color:#59358c;
}

.post{
  font-family: "Trim-regular";
  color:#ffeb00;
  box-sizing: border-box;
  background-color: #59358c;
  border: 5px solid #ffeb00;
  padding: 10px;
  word-wrap: break-word;
  margin-bottom: 20px;
}

.postText{
  box-sizing: border-box;
  width: 100%;
  top:0;
  word-wrap: break-word;
  font-size: 25px;
}

/* .events_text {
  position: relative;
  font-family: "Trim";
  font-size: 60px;
  letter-spacing : 0.9px;
  color: #59358c;
  top: 100px;
} */
.ec {
  position: relative
}

.ec .ec__holder {
  overflow: hidden;
}

.ec .ec__track {
  will-change: transform
}

.ec .ec__track:after {
  content: '';
  display: table;
  clear: both
}

.ec .ec__item {
  width: 480px;
  float: left;
  overflow: hidden
}

.ec .ec__pagination {
  text-align: center;
  margin-top: 10px
}

.ec .ec__pagination .pagination__dot {
  width: 8px;
  height: 8px;
  background-color: transparent;
  display: inline-block;
  border: 1px solid #000;
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer
}

.ec .ec__pagination .pagination__dot--active {
  background-color: #000
}

.ec .ec__nav {
  position: absolute;
  bottom: 10px;
  border-top: 2px solid #59358c;
  border-right: 2px solid #59358c;
  width: 8px;
  height: 8px;
  cursor: pointer
}

.ec .ec__nav:before {
  content: ''
}

.ec .ec__nav--prev {
  transform: rotate(-135deg);
  top: 494px;
  left: 3.75em;
}

.ec .ec__nav--next {
  transform: rotate(45deg);
  top: 494px;
  right: 3.75em;
}

.footer {
  /* position: absolute; */
  width: 100%;
  bottom: 0;
  margin-top: 0px;
  height: 276px;
  background-color: #59358c;
  z-index: 2;
  order: 2;
}

.terms {
  font-family: "Trim-regular";
  font-size: 12.5px;
  line-height: 30px;
  letter-spacing: 0.38px;
  margin-left: 120px;
  margin-top: 232px;
  color: #ffeb00;
}

/* --end carousel style */
/* start footer */
/* --end homepage */
